


// CoreUI
@import '@coreui/coreui/scss/coreui';


// $primary: #321fdb;
// $secondary: #6c757d;
// $success: #1cc88a;
// $info: #36b9cc;
// $warning: #f6c23e;
// $danger: #e74a3b;
// $light: #f8f9fc;
// $dark: #5a5c69;

// Extra Overrides
// .c-sidebar {
//    background: #212631;
//    color: #fff;
// }

.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: #fff;
    background: $primary;
}
//
//
// .c-sidebar .c-sidebar-nav-link:hover {
//    color: #fff;
//    background: #212631;
   
// }



.btn:not([class*=ghost]):not([class*=link]):not([class*=outline]):not([class*=transparent]) {
    border: 0;
    box-shadow: 0 1px 1px 0 rgb(60 75 100 / 14%), 0 2px 1px -1px rgb(60 75 100 / 12%), 0 1px 3px 0 rgb(60 75 100 / 20%);
}

.dropzone {
    border: 2px dashed #3B82F6;
    border-radius: 5px;
    background: #DBEAFE;
}
.dz-preview {
    background: #EFF6FF !important;
    border-radius: 20px;
}
.dz-remove {
    color: #333;
}
.dropzone i.bi.bi-cloud-arrow-up {
    font-size: 5rem;
    color: #60A5FA;
}
.dropzone .dz-message {
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: initial;
}
.dropzone .dz-preview .dz-image img {
    display: block;
    width: 100%;
}

table {
    width: 990px !important;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    table {
        width: 100% !important;
    }
}
